/* ------------ Id´s ------------ */
#body
{
    overflow-y: hidden;
}

/* ------ Cabecalho ------ */
#cabecalho
{
    height: 1080px;

    border: none;
    outline: none;

    background-color: #222f3e;
}

#titulo_cabecalho
{
    color: #1dd1a1;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#titulo_2_cabecalho
{
    color: #1dd1a1;

    font-family: 'Conv_BRI293', sans-serif;
    font-weight: bold;
}

/* ------------ ItsNotMorpheus ------------ */
#itsNotMorpheus_Bloco
{
    padding-top: 78.2px;
}

#ItsNotMorpheus_Text
{
    text-align: right;
    font-family: 'Conv_BRI293', sans-serif;

    padding-right: 0px;

    font-size: 1.5em;
}

#ItsNotMopheus_Image
{
    float: left;

    padding-left: 0px;

    height: 131px;
    width:  124px;
}

/* ------------ Skills ------------ */
#Skills_Text
{
    text-align: center;

    font-family: 'Conv_BRI293', sans-serif;  
    font-size: 2em;
    margin-bottom: 100px;
}

#Contact_Bloco
{
    height: 200px;
    background-color: #222f3e;
    padding-top: 71.2px;
}

#Contact_Text
{
    color: #1dd1a1;

    font-family: 'Conv_BRI293', sans-serif; 
    font-size: 3em;

    text-align: center;

}

/* ------------ Classes ------------ */
.Titulo_Bloco
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    text-align: center;
}

.Image
{
    height: 90px;
    width: calc(100% - (100% - 88px));
}

.Image_Left
{
    float: right;

    right: 0px;

    margin-bottom: 10px;
}

.Image_Right
{
    left: 0px;

    margin-bottom: 10px;
}

.Image_Center
{
    margin-left: calc((100% - 88px)/2);
}

/* ------ Images ------ */
.Image_Link:hover
{
    -webkit-filter: drop-shadow(2px 1px 0 green) drop-shadow(-1px -1px 0 #1dd1a1);
    filter: drop-shadow(2px 1px 0 green) drop-shadow(-1px -1px 0#1dd1a1);
}


/* --------- Media Querys --------- */
/* Extra Small  (Portrait Phones)*/
@media screen and (max-width: 576px)
{
    #cabecalho
    {
        padding-top: 40px;
    }

    #titulo_cabecalho
    {
        font-size: 2.5em;

        text-align: center;
    }

    #titulo_2_cabecalho
    {

        text-align: center;
    }

    #ItsNotMorpheus_Text
    {
        font-size: 1.2em;
    }

    #ItsNotMopheus_Image
    {
        height: 91px;
        width:  84px;
    }

    #itsNotMorpheus_Bloco
    {
        height: 350px;
    }

    .Bloco
    {
        padding-top: 0px;
    }
}

@media screen and (min-width: 577px)
{
    #cabecalho
    {
        padding-left: 0px;
        padding-top: 40px;
    }

    #titulo_cabecalho
    {
        font-size: 2.5em;

        text-align: center;
    }

    #titulo_2_cabecalho
    {

        text-align: center;
    }

    #ItsNotMorpheus_Text
    {
        font-size: 1.5em;
    }

    #ItsNotMopheus_Image
    {
        height: 101px;
        width:  94px;
    }

    #itsNotMorpheus_Bloco
    {
        height: 350px;
    }

    .Titulo_Bloco
    {
        font-size: 2em;
    }

    .Bloco
    {
        padding-top: 0px;
    }
}

/* Medium devices (Tablet) */
@media screen and (min-width: 768px)
{
    #cabecalho
    {
        padding-left: 60px;
    }

    #titulo_cabecalho
    {
        text-align: initial;
    }

    #titulo_2_cabecalho
    {
        text-align: initial;
    }
}

/* Large Devices (Desktops) */
@media screen and (min-width: 992px)
{
    #titulo_cabecalho
    {
        font-size: 3em;
    }

    #ItsNotMorpheus_Text
    {
        font-size: 2em;
    }

    #ItsNotMopheus_Image
    {
        height: 131px;
        width:  124px;
    }

    #itsNotMorpheus_Bloco
    {
        height: 400px;
    }

    .Titulo_Bloco
    {
        font-size: 3em;
    }

    .Bloco
    {
        padding-top: 78.2px;
    }

}

/* Laptop */
@media screen and (min-width: 1024px)
{
    #cabecalho
    {
        padding-left: 80px;
    }
}

/* Extra large */
@media screen and (min-width: 1200px)
{
    #cabecalho
    {
        padding-left: 100px;
    }
}

/* Laptop L */
@media screen and (min-width: 1440px)
{

}

/* 1080p (Full HD)*/
@media screen and (min-width: 1920px)
{

}

/* 4K */
@media screen and (min-width: 2560px)
{

}

/* ------------ Fonts ------------ */
@font-face
{
    /* font-family: 'Brie Light';
    src: url('font/Brie_Light/BRI293.TTF') */
    font-family: 'Conv_BRI293';

	src: url('F:/Bruno/Query/Portifolio/font/BrieLight/fonts/BRI293.eot');
    src: local('☺'), url('F:/Bruno/Query/Portifolio/font/BrieLight/fonts/BRI293.woff') format('woff'), url('F:/Bruno/Query/Portifolio/font/BrieLight/fonts/BRI293.ttf') format('truetype'), url('F:/Bruno/Query/Portifolio/font/BrieLight/fonts/BRI293.svg') format('svg');
    
	font-weight: normal;
	font-style: normal;
}